.results-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.results-heading {
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    backdrop-filter: blur(3px);
    padding: 5px;
}
.scores-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.analytics-btn{
    display: flex;
    gap:10px;
    flex-direction: row;
    text-decoration: none;
    position: absolute;
    right:-25%;
    bottom:45%;
    background: transparent;
    border: 2px solid white;
    padding:5px 10px;
    font-size: 20px;
}

.tips-btn{
    display: flex;
    gap:10px;
    flex-direction: row;
    text-decoration: none;
    position: absolute;
    right:30%;
    bottom:-5%;
    background: transparent;
    border: 2px solid white;
    padding:5px 10px;
    font-size: 20px;
}