.button {
    position: relative;
    font-size: 20px;
    padding: 5px 10px;
    /* background: none; */
    border: 2px solid var(--color1);
    color: var(--color1);
    font-weight: 300;
    cursor: pointer;
}

.button::before {
    display: block;
    content: "";
    position: absolute;
    transform: translate(-15px, -10px);
    height: 100%;
    width: 100%;
    border: 2px solid var(--color1);
    transition: 0.3s ease;
}
.button:hover::before {
    transform: translate(-20px, -12px);
}
