.community-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: white;
}

.community-heading {
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
    backdrop-filter: blur(5px);
    padding: 5px;
}
.whatsapp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid white;
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.316); */
    backdrop-filter: blur(10px);
    transition: 0.3s ease;
}
.whatsapp-container:hover {
    background-color: rgba(255, 255, 255, 0.316);
    color: black;
}
.whatsapp-container span {
    font-size: 15px;
}
.tagline {
    font-size: 17px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    line-height: 30px;
    backdrop-filter: blur(5px);
    padding: 20px;
    letter-spacing: 1px;
}
