.player-control-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.player-control-container button{
    padding:5px;
    background-color: transparent;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 2px solid;
    width: 25px;
    height: 25px;
    cursor: pointer;
    /* border-radius: 10px; */
}