.grid-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .grid-container {
      background: url("../public/images/homepage/1.svg");
      background-size: cover;
  }
  
}